.container1{
    display:flex;
    flex-direction:column;
    background-color: #E5E5E5;
    height: 500px;
    width: 100%;
    justify-content: flex-start;

  
}

.item0{
    display: flex;
    width:100%;
    height:37px ;
    background-color: #E5E5E5;
    justify-content: space-between;

}

.item1{
    width: 8%;
    height: 37px;
    background-color: chocolate;
    margin: 0px 0px 0px 145px;
}

.item2{
    width: 5%;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 55px 0px 0px;
}

.item3{
    display: flex;
    width: 100%;
    height: 400px;
    background-color:#E5E5E5;
    justify-content:space-between;
    margin-top: 20px;
    
}

.item4{
    display: flex;
    width:48%;
    height:380px;
    background-color: #E5E5E5; 
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-end;
    
}

.item5{
    width:80%;
    height:205px;
    background-color: rgba(0, 0, 0, 0.2); 
     
}

.item6{
    width:80%;
    height:64px;
    background-color: rgba(0, 0, 0, 0.2); 
     
}

.item7{
    display: flex;
    flex-flow: row;
    width:80%;
    height:64px;
    background-color:#E5E5E5; 
    
}

.item8{
    width:130px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.2); 
    
}

.item8-1{
    width:130px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.2);    
    margin:0px 5px;
}


.item9{
    display: flex;
    width: 48%;
    height: 380px;
    background-color:rgba(0, 0, 0, 0.2); 
}

.container2{
    display:flex;
    flex-direction:column;
    background-color: rgb(51, 221, 65);
    height: 500px;
    width: 100%;
    justify-content: flex-start;
    margin-top: 2px;
  
}

.contentUp{
    display:flex;
    flex-direction: column;
    width:100%;
    height:220px;
    background-color: rgba(0, 0, 0, 0.2);    
    align-items: center; 
}

.works{
    width:18%;
    height:80px;
    background-color:blue;   
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align-last: center;
}

.make{
    width:80%;
    height:130px;
    background-color:rgb(182, 8, 8);   
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align-last:center;
    font-size: x-large;
}

.galery{
    display:flex;
    flex-direction: row;
    width:100%;
    height:280px;
    background-color: rgba(41, 19, 100, 0.2);    
    justify-content: space-between;
}

.prev{
    width: 10%;
    height:45px;
    background-color: crimson;
    margin: 18px;
}

.image{
    width: 55% ;
    height: 247px;
    background-color: crimson;
}

.next{
    width: 10% ;
    height: 45px;
    background-color: crimson;
    margin: 18px;
}